#mbe4-title {
  background: url('./mbe4_logo_xs.png') no-repeat;
  display: inline-block;
  font-weight: bold;
  height: 35px;
  padding: 0 0 0 70px;
}

#mbe4-subtitle {
  font-size: 90%;
  font-weight: normal;
}
/*#edit-panes-payment-payment-method-mbe4-wrapper{

}*/
